@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --max-width: 1200px;
    --primary-color: #00b4db;
    --secondary-color: #0083b0;
    --tritary-color: #90e0ef;
    --dark-color: #0c0a09;
    --light-color: #ffffff;
    --grey-color: grey;
}
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    display: flex;
}
body {
    font-family: Poppins, sans-serif;
    background-color: var(--light-color);
}
nav {
    max-width: var(--max-width);
    margin:auto;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.nav-logo {
    max-width: 80px;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem; 
    list-style: none;
}
.links a{
    position: relative;
    color: var(--light-color);
    padding-bottom: 0.5rem;
    font-size: 1rem;
}
.links a::after{
    background-color: var(--primary-color);
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
}
.links a:hover::after{
    width: 100%;
}
.nav-btn {
    font-weight: 600;
    padding: 0.8rem 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--primary-color);
    color: var(--light-color);
}
.nav-btn:hover {
    background-color: var(--secondary-color);
    scale: 1.1;
}
.header{
    position: relative;
    background-color: rgba(0, 0, 0, 0.492); /* Add a semi-transparent black background */
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(main.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
}
.head-container{
    color: var(--light-color);
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    text-align: center;
}
header .head-content h3{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    font-weight: 400;
}
header .head-content h1{
    color: white;
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 800;
    line-height: 5rem;
}
.booking{
    padding-block: 0;
    max-width: 800px;
    margin: auto;
}
.booking-form{
    margin-top: 4rem;
    padding: 1rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--light-color);
    border-radius: 10px;
    transform: translateY(-50%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}
.input{
    flex: 1 1 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--light-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.input span{
    font-size: 2rem;
    color: var(--secondary-color);
}
.input label{
    font-size: 1.2rem;
    color: var(--secondary-color);
    font-weight: 500;
}
.input input{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--dark-color);
    font-size: 1rem;
    width: 100%;
}
.input input::placeholder{
    color: var(--grey-color);
}
.booking-btn{
    font-weight: 600;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--primary-color);
    color: var(--light-color);
}
.booking-btn:hover {
    background-color: var(--secondary-color);
    scale: 1.1;
}
.about-img{
    max-width: 600px;
    margin: auto;
}
.about h3{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
    position: relative;
}
.about h3::after{
    content: "";
    display: block;
    width: 220px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 0.5rem auto;
    margin-bottom: 1rem;
}
.about-text h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color);
}
.about-text p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: var(--grey-color);
}
.about-content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 2rem;
}
.about-btn{
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--primary-color);
    color: var(--light-color);
    margin-top: 1.5rem;
}
.about-btn:hover {
    background-color: var(--secondary-color);
    scale: 1.1;
}
.about{
    margin-bottom: 1rem;
}
.service{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}
.service-box{
    padding: 1rem;
    background-color: var(--tritary-color);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.service-box:hover{
    transform: translateY(-10px);
}
.service-box h4{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-top: 0.5rem;
}
.service-box p{
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--dark-color);
}
.service-icon i{
    font-size: 3rem;
    color: var(--dark-color);
}
.service h3{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
    position: relative;
}
.service h3::after{
    content: "";
    display: block;
    width: 350px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 0.5rem auto;
    margin-bottom: 1rem;
}
.room{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem 2rem;
    text-align: center;
}
.room h3{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
    position: relative;
}
.room h3::after{
    content: "";
    display: block;
    width: 260px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 0.5rem auto;
    margin-bottom: 1rem;
}
.room-container{
    padding: 0px;
    background-color: var(--tritary-color);
    display: flex;
    align-items: center;
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    width: auto;
    height: auto; /* Adjust height to fit content */
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.slider-img img{
    width: 525px;
    height: 350px; /* Adjust height to fit content */
    object-fit: cover;
    border-radius: 10px;
}
.slider-content h2{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
}
.slider-content p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
}
.room-slider{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    margin: auto;
    padding: 1rem 2rem;
    background-color: var(--tritary-color);
    transition: opacity 0.3s ease; /* Make transition smoother */
}
.room-btn{
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--primary-color);
    color: var(--light-color);
    margin-top: 1rem;
}
.room-btn:hover {
    background-color: var(--secondary-color);
    scale: 1.1;
}
.room-arrow button{
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    transform: translateY(-50%);
    background-color: var(--light-color);
    color: var(--dark-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease; /* Make transition smoother */
}
.room-arrow button:hover{
    scale: 1.1;
}
.room-container button#nextBtn{
    right: -0px;
    z-index: 2;
}
.room-container button#prevBtn{
    left: -0px;
}

.explore {
    background-image: url('special.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 2rem;
    color: var(--light-color);
    text-align: center;
    position: relative;
}

.explore::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.373); /* Add a semi-transparent overlay */
    z-index: 1;
}
.explore h3{
    font-size: 4rem;
    font-weight: 700;
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 2rem;
    position: relative;
}
.explore h3::after{
    content: "";
    display: block;
    width: 260px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 0.5rem auto;
    margin-bottom: 1rem;
}

.explore-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    margin: auto;
    padding: 2rem ;
}

.explore-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem 2rem;
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center;
    align-items: center;
}
.explore-box:hover {
    transform: translateY(-10px);
}
.explore-box img {
    width: auto;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.explore-box h4 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-color);
}

.explore-box p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-color);
}
footer{
    margin-top: 0;
    margin-bottom: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2rem;
}
.foot-column1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.foot-column2{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.foot-column3{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.foot-logo{
    margin-top: 5rem;
    max-width: 350px;
    margin-bottom: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 2rem;
}
.foot-logo img{
    width: 80px;
    margin-bottom: 0.5rem;
    text-align: center;
}
.foot-logo p{
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.socials i{
    border: 2px solid white;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease; 
}
.socials i:hover{
    color:var(--primary-color);
    border-color: var(--primary-color);
}
.foot-column2 p{
    color: white;
    font-size: 1.2rem;
    font-weight: 700
}
.foot-column2 a{
    color: white;
    font-size: 0.8rem;
    transition: color 0.3s ease; /* Add transition for smooth effect */
}
.foot-column2 a:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.foot-column3 p{
    color: white;
    font-size: 1.2rem;
    font-weight: 700
}
.foot-column3 a{
    color: white;
    font-size: 0.8rem;
    transition: color 0.3s ease; /* Add transition for smooth effect */
}
.foot-column3 a:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.copyright{
    margin: auto;
    padding: 1.5rem;
    color: white;
    max-width: 1200px;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0rem;
}
@media (max-width: 1200px) {
    .room-slider {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 900px) {
    nav{
        padding: 2rem 2rem;
    }
    .booking{
        padding: 1rem 3rem;
        max-width: 650px;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }
    .input{
        flex: 1 1 100%;
    }
    .booking{
        margin-bottom: 0rem;
    }
    .booking-form{
        flex-direction: column;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}
@media (max-width: 768px) {
    .nav-links {
        gap: 1.5rem;
    }
    .header-content{
        margin-bottom: 0;
    }
    .booking-form {
        margin-top: 0rem;
    }
    .about-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 4rem;
    }
    .about-text p {
        font-size: 1rem;
    }
    .service-content {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        padding: 1rem 2rem;
    }
    .room-slider {
        display: flex;
        flex-direction: column;
    }
    .room-container{
        margin: 1rem 2rem;
    }
    .explore-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 500px;
    }
    .explore-box img {
        width: 450px;
        height: auto;
    }
    .foot-column1 p{
        font-size: 0.6rem;
    }
}
@media (width < 600px) {
    nav{
        display: none;
    }
    .input label {
        font-size: 1rem;
    }
    .input input {
        font-size: 0.9rem;
    }
    .booking-form {
        margin-top: 0rem;
    }
    .about-content {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .room-slider {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .room-container {
        padding: 1rem 0;
        margin: auto;
    }
    .slider-img img {
        max-width: 380px;
        max-height: 250px;
    }
    .slider-content h2 {
        margin-top: 0.5rem;
        font-size: 1.8rem;
    }
    .slider-content p {
        font-size: 0.9rem;
    }
    .slider-content h1 {
        font-size: 1.5rem;
    }
    .service-content {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .explore-content {
        padding: 1rem;
    }

    .explore-box {
        padding: 0.5rem 1rem;
        max-width: 350px;
    }
    .explore-box img {
        width: 300px;
        height: auto;
    }
    .explore-box h4 {
        font-size: 1.5rem;
    }

    .explore-box p {
        font-size: 0.9rem;
    }

    .footer {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    footer{
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    .foot-column1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .foot-column2 {
        align-items: center;
    }
    .foot-column3{
        align-items: center;
    }
    .foot-logo img {
        max-width: 50px;
    }

    .foot-logo p {
        font-size: 0.7rem;
    }

    .socials i {
        padding: 0.3rem;
        font-size: 0.8rem;
    }

    .foot-column2 p {
        font-size: 1rem;
    }

    .foot-column2 a {
        font-size: 0.7rem;
    }

    .copyright {
        font-size: 0.7rem;
    }
}