@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.card {
    background-attachment: fixed;
    background-color: #57A0D3 ;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    font-family: Rubik ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.information {
    font-size: small;
    margin: 10px;     
}
.btn {
    background-color:#57A0D3;
    color: white;
    padding: 10px 10px;
    border: 2px solid black;
    font-family: Rubik ;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.list {
    background-attachment: fixed;
    background-color: #57A0D3 ;
    color: white;
    border-radius: 15px;
    padding: 5px;
    font-family: Rubik ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 50%;
    font-size: 15px;
}
.text1 {
    font-size: 15px;
    text-align: center;
}
.pricing-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card1 {
    width: 25vw;
    height: 180px;
    padding: 10px;
    background: #f4f4f4;
    text-align: center;
    color: black;
    font-family: Rubik;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

button {
    background-color:#57A0D3;
    color: white;
    padding: 10px 10px;
    border: 2px white;
    font-family: Rubik ;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.badge {
    position: absolute;
    transform: translateX(-50%);
    background: gold;
    color: black;
    font-size: 10px;
    font-family: Rubik;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
/* Basic Navbar Styles */
.navbar {
    display: flex;
    font-size: 15px;
    font-family: Rubik;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #57A0D3;
    color: white;
    height: 5vh;
}
.logo {
    font-size: 25px;
}
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Responsive Navbar */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
}

